[submodule "ux/skill_gym/public/aaswc"]
	path = ux/skill_gym/public/aaswc
	url = https://github.com/drcgjung/aaswc.git
[submodule "dataspace/edc"]
	path = dataspace/edc
	url = https://github.com/catenax-ng/product-agents-edc.git
	branch = main
