{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "no-loops"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": 1,
    "no-loops/no-loops": 2,
    "indent": ["error", 2],
    "react/react-in-jsx-scope": "off",
    "linebreak-style": ["error", "unix"],
    "prefer-const": 1,
    //rules that should be removed, when warning is fixed:
    "@typescript-eslint/no-empty-interface": 1
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}